<%- include("index.ejs") %>
    <div id="results">
        <% if(results.length > 0){%>
            <% for(let i = 0; i < results.length; i++){%>
                <form action="/song-details" method="POST">
                    <button id="id" name="id" value='<%-results[i].id%>''>
                        <p><%- results[i].trackName%> by <%- results[i].artistName%></p>
                        <p>Album: <%- results[i].albumName%> Duration: <%- results[i].duration%> seconds</p>
                    </button>  
                </form>
                
            <%}%>
        <%}%>
    </div>
