<%- include("partials/header.ejs") %>

<a href="/search">🔙</a>
    <div id="songDetails">
        <% if(songDetails){%>
            <h3><%- songDetails.trackName%> by <%- songDetails.artistName%></h3>
            <h4>Album: <%- songDetails.albumName%></h4>
            <p><%- songDetails.plainLyrics.replace(/\n/g, "<br>")%></p>
            <%}%>
    </div>